/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

/* Background */

.add-page{

min-height:100vh;

background:
linear-gradient(rgba(8,15,35,.82),rgba(15,23,42,.82)),
url("https://images.unsplash.com/photo-1556740749-887f6717d7e4?w=1920");

background-size:cover;

background-position:center;

background-attachment:fixed;

overflow:hidden;

}

.overlay{

display:flex;

min-height:100vh;

backdrop-filter:blur(6px);

}

/* Left Side */

.left-side{

width:45%;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:40px;

color:white;

}

.left-side h1{

font-size:48px;

font-weight:700;

margin-top:30px;

color:#FFD700;

}

.left-side p{

margin-top:20px;

font-size:19px;

line-height:1.8;

text-align:center;

max-width:500px;

color:#f1f5f9;

}

.erp-image{

width:450px;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,.4);

animation:floatImage 4s infinite ease-in-out;

}

@keyframes floatImage{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-18px);

}

100%{

transform:translateY(0px);

}

}

/* Right Side */

.right-side{

width:55%;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

}

/* Form */

.form-card{

width:100%;

max-width:720px;

padding:40px;

border-radius:30px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.18);

box-shadow:0 20px 45px rgba(0,0,0,.35);

color:white;

}

.form-card h2{

font-size:34px;

display:flex;

align-items:center;

gap:15px;

margin-bottom:30px;

color:#FFD700;

}
/* Top Bar */

.top-bar{
display:flex;
justify-content:flex-start;
margin-bottom:20px;
}

/* Back Button */

.back-btn{

display:flex;
align-items:center;
gap:10px;

padding:12px 22px;

background:linear-gradient(135deg,#2563eb,#3b82f6);

color:white;

border:none;

border-radius:12px;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

box-shadow:0 8px 18px rgba(37,99,235,.3);

}

.back-btn:hover{

transform:translateX(-5px);

background:linear-gradient(135deg,#1d4ed8,#2563eb);

box-shadow:0 12px 25px rgba(37,99,235,.45);

}

.back-btn svg{

font-size:18px;

}