*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f6fa;
}
.layout{

display:flex;
height:100vh;

}


.sidebar{

width:240px;
background:#111827;
color:white;
padding:25px;

}


.sidebar a{

display:block;
color:white;
text-decoration:none;
margin:20px 0;

}


.main{

flex:1;

}


.navbar{

height:70px;
background:white;
display:flex;
justify-content:space-between;
padding:20px;

}