@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:
    linear-gradient(rgba(15,23,42,.80),rgba(15,23,42,.80)),
    url("/background.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

}

/* Layout */

.layout{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{

    width:270px;

    background:rgba(15,23,42,.95);

    backdrop-filter:blur(15px);

    color:white;

    padding:25px;

    box-shadow:5px 0 30px rgba(0,0,0,.35);

}

.sidebar h2{

    text-align:center;

    color:#FFD700;

    font-size:30px;

    margin-bottom:40px;

    letter-spacing:1px;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    margin-bottom:15px;

}

.sidebar a{

    display:flex;

    align-items:center;

    gap:18px;

    padding:15px;

    border-radius:15px;

    color:white;

    text-decoration:none;

    transition:.35s;

    font-size:17px;

}

.sidebar a:hover{

    background:#2563eb;

    transform:translateX(10px);

}

.sidebar a.active{

    background:#FFD700;

    color:#111827;

    font-weight:bold;

}

/* Main */

.main{

    flex:1;

    display:flex;

    flex-direction:column;

}

/* Navbar */

.navbar{

    height:80px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(12px);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 35px;

    color:white;

}

.navbar h1{

    font-size:28px;

    color:white;

}

.navbar img{

    width:50px;

    height:50px;

    border-radius:50%;

    border:3px solid white;

}

/* Dashboard */

.dashboard{

    padding:30px;

    color:white;

}

/* Cards */

.stats{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

    gap:25px;

}

.stat-card{

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(12px);

    color:white;

    border-radius:20px;

    padding:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    transition:.35s;

}

.stat-card:hover{

    transform:translateY(-10px);

    background:#2563eb;

}

/* Charts */

.chart-box{

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(12px);

    border-radius:20px;

    padding:20px;

    margin-top:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

}

/* Tables */

.table-container{

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(12px);

    border-radius:20px;

    padding:20px;

    margin-top:25px;

}

table{

    width:100%;

    border-collapse:collapse;

    color:white;

}

th{

    background:#2563eb;

    padding:15px;

}

td{

    padding:15px;

    border-bottom:1px solid rgba(255,255,255,.2);

}

tr:hover{

    background:rgba(255,255,255,.08);

}